backports.ssl-match-hostname==3.4.0.2
gevent==24.11.1
gevent-websocket==0.10.1
greenlet>=0.4.7
peewee==3.17.9
pygeoip==0.3.2
pypng==0.20220715.0
python-dateutil==2.4.1
requests==2.32.3
sh==2.2.1
six==1.17.0
websocket-client==1.8.0
libpebble2>=0.0.20
netaddr==0.7.18
stpyv8==13.1.201.22
